<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product list</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/home/product-list.css" />
    <script src="/src/components/home/product-list.js" defer></script>
  </head>
  <body>
    <h1>product list</h1>
    <hr />
    <!-- product-card component -->
    <div class="product-card" data-price="5900" data-discount="24">
      <div class="product-card__media-container">
        <button class="product-card__link" data-url="" tabindex="0" aria-label="탱탱쫄면 4개입 상품 페이지로 이동">
          <picture class="product-card__image-wrapper">
            <source srcset="/src/assets/webp/product01.webp" type="image/webp" />
            <img src="/src/assets/png/product01.png" alt="" />
          </picture>
        </button>
        <p class="product-card__discount-label"><span class="discount-rate"></span>%</p>
        <button class="product-card__cart-button" tabindex="0" aria-label="장바구니에 담기">
          <img src="/src/assets/svg/cart-off.svg" alt="" />
        </button>
        <div class="product-card__modal">
          <div class="product-card__modal-text">장바구니에 담으시겠습니까?</div>
          <div class="product-card__modal-buttons">
            <button class="product-card__modal-button product-card__modal-button--cancel">취소하기</button>
            <button class="product-card__modal-button product-card__modal-button--confirm">담기</button>
          </div>
        </div>
      </div>
      <p class="product-card__brand">[풀무원]</p>

      <button class="product-card__name" data-url="" tabindex="-1" aria-hidden="true">탱탱쫄면(4개입)</button>
      <div class="product-card__price">
        <p class="product-card__price-discounted"><span class="discounted-price"></span>원</p>
        <p class="product-card__price-original"><span class="original-price"></span>원</p>
      </div>
    </div>
    <hr />
    <!-- home: product list 컴포넌트  -->
    <span class="list-text">
      <strong>추천 상품 텍스트</strong>
      <p>보조 설명을 적어주세요</p>
    </span>
    <div class="list-content">
      <div class="product-card" data-price="5900" data-discount="24">
        <button class="product-link" data-url="" tabindex="0" aria-label="탱탱쫄면 4개입 상품 페이지로 이동">
          <picture class="product-img">
            <source srcset="/src/assets/webp/product01.webp" type="image/webp" />
            <img src="/src/assets/png/product01.png" alt="" />
          </picture>
        </button>
        <p class="product-maker">[풀무원]</p>
        <p class="product-discount"><span class="discount-rate"></span>%</p>
        <button class="cart-button" tabindex="0" aria-label="장바구니에 담기">
          <img src="/src/assets/svg/cart-off.svg" alt="" />
        </button>
        <div class="cart-modal modal">
          <div class="modal-content">
            <p class="modal-text">장바구니에 담으시겠습니까?</p>
            <div class="modal-button">
              <button class="button-no">취소하기</button>
              <button class="button-yes">담기</button>
            </div>
          </div>
        </div>
        <div class="product-list__items">
          <div class="product-card" data-price="5900" data-discount="24">
            <div class="product-card__media-container">
              <button class="product-card__link" data-url="" tabindex="0" aria-label="탱탱쫄면 4개입 상품 페이지로 이동">
                <picture class="product-card__image-wrapper">
                  <source srcset="/src/assets/webp/product01.webp" type="image/webp" />
                  <img src="/src/assets/png/product01.png" alt="" />
                </picture>
              </button>
              <p class="product-card__discount-label"><span class="discount-rate"></span>%</p>
              <button class="product-card__cart-button" tabindex="0" aria-label="장바구니에 담기">
                <img src="/src/assets/svg/cart-off.svg" alt="" />
              </button>
              <div class="product-card__modal">
                <div class="product-card__modal-text">장바구니에 담으시겠습니까?</div>
                <div class="product-card__modal-buttons">
                  <button class="product-card__modal-button product-card__modal-button--cancel">취소하기</button>
                  <button class="product-card__modal-button product-card__modal-button--confirm">담기</button>
                </div>
              </div>
            </div>
            <p class="product-card__brand">[풀무원]</p>

            <button class="product-card__name" data-url="" tabindex="-1" aria-hidden="true">탱탱쫄면(4개입)</button>
            <div class="product-card__price">
              <p class="product-card__price-discounted"><span class="discounted-price"></span>원</p>
              <p class="product-card__price-original"><span class="original-price"></span>원</p>
            </div>
          </div>
          <div class="product-card" data-price="44900" data-discount="24">
            <div class="product-card__media-container">
              <button class="product-card__link" data-url="" tabindex="0" aria-label="죠르디 시카 자석 선쿠션 상품 페이지로 이동">
                <picture class="product-card__image-wrapper">
                  <source srcset="/src/assets/webp/product02.webp" type="image/webp" />
                  <img src="/src/assets/png/product02.png" alt="" />
                </picture>
              </button>
              <p class="product-card__discount-label"><span class="discount-rate"></span>%</p>
              <button class="product-card__cart-button" tabindex="0" aria-label="장바구니에 담기">
                <img src="/src/assets/svg/cart-off.svg" alt="" />
              </button>
              <div class="product-card__modal">
                <div class="product-card__modal-text">장바구니에 담으시겠습니까?</div>
                <div class="product-card__modal-buttons">
                  <button class="product-card__modal-button product-card__modal-button--cancel">취소하기</button>
                  <button class="product-card__modal-button product-card__modal-button--confirm">담기</button>
                </div>
              </div>
            </div>
            <p class="product-card__brand">[풀무원]</p>

            <button class="product-card__name" data-url="" tabindex="-1" aria-hidden="true">죠르디 시카 자석 선쿠션</button>
            <div class="product-card__price">
              <p class="product-card__price-discounted"><span class="discounted-price"></span>원</p>
              <p class="product-card__price-original"><span class="original-price"></span>원</p>
            </div>
          </div>
          <div class="product-card" data-price="34900" data-discount="24">
            <div class="product-card__media-container">
              <button class="product-card__link" data-url="" tabindex="0" aria-label="유기농 밀키퀀 현미 4키로그램 상품 페이지로 이동">
                <picture class="product-card__image-wrapper">
                  <source srcset="/src/assets/webp/product03.webp" type="image/webp" />
                  <img src="/src/assets/png/product03.png" alt="" />
                </picture>
              </button>
              <p class="product-card__discount-label"><span class="discount-rate"></span>%</p>
              <button class="product-card__cart-button" tabindex="0" aria-label="장바구니에 담기">
                <img src="/src/assets/svg/cart-off.svg" alt="" />
              </button>
              <div class="product-card__modal">
                <div class="product-card__modal-text">장바구니에 담으시겠습니까?</div>
                <div class="product-card__modal-buttons">
                  <button class="product-card__modal-button product-card__modal-button--cancel">취소하기</button>
                  <button class="product-card__modal-button product-card__modal-button--confirm">담기</button>
                </div>
              </div>
            </div>
            <p class="product-card__brand">[풀무원]</p>

            <button class="product-card__name" data-url="" tabindex="-1" aria-hidden="true">유기농 밀키퀀 현미 4kg</button>
            <div class="product-card__price">
              <p class="product-card__price-discounted"><span class="discounted-price"></span>원</p>
              <p class="product-card__price-original"><span class="original-price"></span>원</p>
            </div>
          </div>
          <div class="product-card" data-price="18900" data-discount="24">
            <div class="product-card__media-container">
              <button class="product-card__link" data-url="" tabindex="0" aria-label="베이비 세탁세제 상품 페이지로 이동">
                <picture class="product-card__image-wrapper">
                  <source srcset="/src/assets/webp/product04.webp" type="image/webp" />
                  <img src="/src/assets/png/product04.png" alt="" />
                </picture>
              </button>
              <p class="product-card__discount-label"><span class="discount-rate"></span>%</p>
              <button class="product-card__cart-button" tabindex="0" aria-label="장바구니에 담기">
                <img src="/src/assets/svg/cart-off.svg" alt="" />
              </button>
              <div class="product-card__modal">
                <div class="product-card__modal-text">장바구니에 담으시겠습니까?</div>
                <div class="product-card__modal-buttons">
                  <button class="product-card__modal-button product-card__modal-button--cancel">취소하기</button>
                  <button class="product-card__modal-button product-card__modal-button--confirm">담기</button>
                </div>
              </div>
            </div>
            <p class="product-card__brand">[풀무원]</p>

            <button class="product-card__name" data-url="" tabindex="-1" aria-hidden="true">베이비 세탁세제</button>
            <div class="product-card__price">
              <p class="product-card__price-discounted"><span class="discounted-price"></span>원</p>
              <p class="product-card__price-original"><span class="original-price"></span>원</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
