<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="./item-inquire.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
  </head>
  <body>
    <div class="header__inquire">
      <span class="header__inquire--title"
        >상품문의
        <p class="header__inquire--description">
          상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당게시판으로 이동될 수 있습니다.<br />
          배송관련, 주분(취소/교환/환불)관련 문의 및 요청사항은 마이페이지 내 1:1 문의에 남겨주세요.
        </p></span
      >
      <button class="header__inquire--button">문의하기</button>
    </div>
    <hr />
  </body>
</html>
