<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/detail-nav/detail-nav.css" />
  </head>
  <body style="padding: 80px">
    <button class="detail-nav__button active" type="button">NAME</button>
    <button class="detail-nav__button inactive" type="button">NAME</button>
    <div class="detail-nav">
      <button class="detail-nav__button active" type="button">상품설명</button>
      <button class="detail-nav__button inactive" type="button">상세정보</button>
      <button class="detail-nav__button inactive" type="button">후기 <span>(1,000)</span></button>
      <button class="detail-nav__button inactive" type="button">문의</button>
    </div>
  </body>
</html>
