* {
  font-family: 'Pretendard Variable';
  box-sizing: border-box;
  line-height: 100%;
}
body {
}
/* 타이틀 컴포넌트 */
.register__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600; /* 18px */
  letter-spacing: 0.54px;
  text-align: center;
}
/* 아이템 컴포넌트 */
.register__item {
  max-width: 640px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  &.register__item--terms {
    align-items: flex-start;
  }

  /* 항목명 */
  .register__label-wrapper {
    min-width: 139px;
    height: 44px;
    padding: 4px;
    display: flex;
    align-items: center;

    .register__label {
      color: var(--black);
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      position: relative;
      padding: 4px;

      .register__label-required {
        color: #f03f40;
        position: absolute;
        right: -8px;
        top: -3px;
      }
    }
  }

  /* 기본 인풋 */
  .register__input {
    flex-grow: 1;
    max-width: 335px;
    height: 44px;
    padding: 0px 20px;
    border: 1px solid var(--gray-200);
    border-radius: 4px;

    &::placeholder {
      color: var(--gray-300);
      font-size: 16px;
      font-weight: 400;
    }

    &:focus {
      border: 2px solid var(--primary); /* 원하는 테두리 스타일 */
      outline: none; /* 기본 브라우저 테두리 제거 */
    }
  }

  .register__input:user-invalid + .register__error-message {
    visibility: visible;
  }

  .register__error-message {
    position: absolute;
    color: red;
    font-size: 12px;
    left: 147px;
    bottom: 0;
    visibility: hidden;
  }

  /* 중복확인 / 인증번호 받기 버튼 */
  .register__button {
    width: 145px;
    height: 44px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    background-color: var(--white);
    font-size: 14px;
    font-weight: 600;
    color: var(--primary);

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      border: 2px solid var(--primary); /* 원하는 테두리 스타일 */
      outline: none; /* 기본 브라우저 테두리 제거 */
    }
  }

  /* 주소 검색 */
  .register__button--address {
    width: 335px;
    margin-bottom: 4px;
  }

  .register__address-text {
    margin: 0;
    line-height: 1.65;
    font-size: var(--font-size-XXS);
    font-weight: 400;
    color: var(--black);
  }

  /* 라디오 버튼 */
  .register__radio-wrapper {
    width: 335px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }

  .register__radio {
    display: flex;
    align-items: center;
    position: relative;

    .register__radio-input {
      position: absolute;
      inline-size: 24px;
      block-size: 24px;
      inset-inline-start: 0;
      margin: 0;
      padding: 0;
      border: 0;
      appearance: none;

      &:focus-visible {
        border: 2px solid var(--primary); /* 원하는 테두리 스타일 */
      }
    }

    .register__radio-input:checked + .register__radio-label {
      background-image: url(/src/assets/svg/radio-off.svg);
    }

    .register__radio-label {
      color: var(--black);
      font-size: var(--font-size-XS);
      font-weight: 600;
      block-size: 24px;
      align-content: center;
      text-indent: calc(24px + 8px);
      /* text-indent 및 padding 관련 속성 모두 배경 이미지와 레이블 텍스트를 겹치지 못하게 하는 속성입니다. */
      /* padding-inline-start: calc(var(--size) + 6px); */
      background: url(/src/assets/svg/radio-on.svg) no-repeat;
      background-size: 24px;
    }
  }

  /* 체크박스 */
  .register__checkbox-wrapper {
    width: 430px;
    display: flex;
    flex-flow: column nowrap;

    .register__checkbox-allagree {
      display: flex;
      padding-bottom: 12px;

      .register__checkbox-text {
        width: 100%;
      }

      .register__checkbox-text label {
        font-size: var(--font-size-M);
        font-weight: 600;
      }

      p {
        position: absolute;
        font-size: var(--font-size-XXS);
        left: 32px;
        top: 25px;
        color: var(--gray-400);
        font-weight: 400;
        margin: 0;
      }
    }

    .register__checkbox-agree {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 12px;
    }

    .register__checkbox-text {
      display: flex;
      align-items: center;
      position: relative;

      input {
        position: absolute;
        inline-size: 24px;
        block-size: 24px;
        inset-block-start: 0;
        inset-inline-start: 0;
        margin: 0;
        padding: 0;
        border: 0;
        appearance: none;

        &:focus-visible {
          border: 2px solid var(--primary); /* 원하는 테두리 스타일 */
        }
      }

      input:checked + label {
        background-image: url(/src/assets/svg/check-on.svg);
      }

      label {
        color: var(--black);
        font-size: var(--font-size-S);
        font-weight: 400;
        block-size: 24px;
        align-content: center;
        text-indent: calc(24px + 8px);
        background: url(/src/assets/svg/check-off.svg) no-repeat;
        background-size: 24px;
      }
    }
    .register__checkbox-button {
      width: 60px;
      height: 20px;

      a {
        display: inline-flex;
        align-items: center;
        color: var(--primary);
        font-size: var(--font-size-XXS);
        font-weight: 400;
        text-decoration: none;
      }

      img {
        stroke: var(--primary);
      }
    }
  }
}

/* 가입하기 버튼 */
.register__join-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 340px;
  height: 56px;
  background: var(--primary);
  border-radius: 4px;
  border: 0;
  color: var(--white);
  font-size: var(--font-size-XS);
  font-weight: 600;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    border: 2px solid var(--primary); /* 원하는 테두리 스타일 */
    outline: none; /* 기본 브라우저 테두리 제거 */
  }
}

/* 가입하기 버튼 클릭 시 모달팝업 */
.register__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.register__modal[hidden] {
  display: none;
}

.register__modal-content {
  background: white;
  padding: 40px 80px;
  border-radius: 20px;
  text-align: center;
}

.register__confirm-button,
.register__close-button {
  display: inline-block;
  margin-top: 10px;
  padding: 16px 28px;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
}

.register__confirm-button {
  background: var(--primary);
  color: var(--white);
}

.register__close-button {
  background: gray;
  color: white;
}
/* 페이지 조립 */

.register__wrapper {
  width: 640px;
  margin: 0 auto;
  position: relative;

  .register__form {
    margin-top: var(--spacing-M);
    border-top: 2px solid var(--black);

    .register__item + .register__item--terms {
      border-top: 1px solid var(--black);
      border-bottom: 1px solid var(--gray-200);
      margin-bottom: 40px;
    }

    .register__join-button {
      margin: 0 auto;
    }
  }

  .register__required-field {
    position: absolute;
    right: 0;
    top: 40px;
    margin: 0;
    color: var(--black);
    font-size: var(--font-size-XXS);
    font-weight: 600;

    span {
      color: #f03f40;
    }
  }
}
