<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/components/Register/Register.css" />
    <link rel="stylesheet" href="/src/common/style.css" />
  </head>
  <body>
    <!--타이틀 -->
    <div class="register__title">회원가입</div>
    <hr />
    <!-- 기본 인풋 폼 컴포넌트 -->
    <div class="register__item">
      <div class="register__label-wrapper">
        <label for="input1" class="register__label">아이디<span class="register__label-required" aria-hidden="">*</span></label>
      </div>
      <input class="register__input" type="email" aria-errormessage="error-1" id="input1" placeholder="아이디를 입력해주세요" required />
      <span class="register__error-message" id="error-1" aria-live="polite">아이디는 이메일형식으로 입력해주세요</span>
      <button type="button" class="register__button">중복확인</button>
    </div>

    <hr />
    <!-- 기본 인풋 폼(중복확인 버튼 없음) 컴포넌트 -->
    <div class="register__item">
      <div class="register__label-wrapper">
        <label for="input2" class="register__label">비밀번호<span class="register__label-required" aria-hidden="">*</span></label>
      </div>
      <input class="register__input" type="password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{10,}" aria-errormessage="error-2" id="input2" placeholder="비밀번호를 입력해주세요" required />
      <span class="register__error-message" id="error-2" aria-live="polite">비밀번호는 특수문자, 영문 소문자, 숫자를 포함하여 10자리 이상 입력해주세요.</span>
    </div>

    <hr />
    <!-- 주소검색 컴포넌트 -->
    <div class="register__item">
      <div class="register__label-wrapper">
        <label class="register__label">주소<span class="register__label-required" aria-hidden="">*</span></label>
      </div>
      <div class="register__address-wrapper">
        <button name="address" class="register__button register__button--address" type="button">주소검색</button>
        <p class="register__address-text">배송지에 따라 상품 정보가 달라질 수 있습니다.</p>
      </div>
    </div>
    <hr />
    <!-- 성별 컴포넌트 -->
    <div class="register__item">
      <div class="register__label-wrapper">
        <label class="register__label">성별</label>
      </div>
      <div class="register__radio-wrapper" role="radiogroup">
        <div class="register__radio">
          <input class="register__radio-input" type="radio" name="gender" id="radio-1" />
          <label class="register__radio-label" for="radio-1">남자</label>
        </div>
        <div class="register__radio">
          <input class="register__radio-input" type="radio" name="gender" id="radio-2" />
          <label class="register__radio-label" for="radio-2">여자</label>
        </div>
        <div class="register__radio">
          <input class="register__radio-input" type="radio" name="gender" id="radio-3" checked />
          <label class="register__radio-label" for="radio-3">선택안함</label>
        </div>
      </div>
    </div>
    <hr />
    <!-- 달력 컴포넌트 -->
    <div class="register__item">
      <div class="register__label-wrapper">
        <label for="birthDate" class="register__label">생년월일</label>
      </div>
      <input class="register__input" type="date" name="birthdate" id="birthDate" />
    </div>
    <hr />
    <!-- 이용약관동의 -->
    <div class="register__item register__item--terms">
      <div class="register__label-wrapper">
        <label class="register__label">이용약관동의<span class="register__label-required" aria-hidden="">*</span></label>
      </div>
      <div class="register__checkbox-wrapper">
        <div class="register__checkbox-allagree">
          <div class="register__checkbox-text">
            <input type="checkbox" name="terms" id="allAgreement" />
            <label for="allAgreement">전체 동의합니다.</label>
            <p>선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
          </div>
        </div>
        <div class="register__checkbox-agree">
          <div class="register__checkbox-text">
            <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement1" />
            <label for="Agreement1">이용약관 동의 (필수)</label>
          </div>
          <div class="register__checkbox-button">
            <a href="#">
              약관보기
              <img src="/src/assets/svg/Right.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="register__checkbox-agree">
          <div class="register__checkbox-text">
            <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement2" />
            <label for="Agreement2">개인정보 수집 · 이용 동의 (필수)</label>
          </div>
          <div class="register__checkbox-button">
            <a href="#">
              약관보기
              <img src="/src/assets/svg/Right.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="register__checkbox-agree">
          <div class="register__checkbox-text">
            <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement3" />
            <label for="Agreement3">무료배송, 할인쿠폰 등 혜택/정보 수신 동의 (선택)</label>
          </div>
          <div class="register__checkbox-button">
            <a href="#">
              약관보기
              <img src="/src/assets/svg/Right.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="register__checkbox-agree">
          <div class="register__checkbox-text">
            <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement4" />
            <label for="Agreement4">본인은 만 14세 이상입니다. (필수)</label>
          </div>
          <div class="register__checkbox-button">
            <a href="#">
              약관보기
              <img src="/src/assets/svg/Right.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- 가입하기 버튼 컴포넌트 -->
    <a href="#modal" class="register__join-button">가입하기</a>

    <!-- 가입하기 버튼 클릭 시 모달팝업 -->
    <div id="modal" class="register__modal">
      <div class="register__modal-content">
        <h2>회원가입 기능은 준비중입니다.</h2>
        <p>조금만 기다려주시면 자바스크립트 배우고 돌아오겠습니다.</p>
        <a href="#" class="register__confirm-button">확인</a>
        <a href="#" class="register__close-button">닫기</a>
      </div>
    </div>
    <hr />
    <br /><br /><br />
    <!-- 회원가입 페이지 -->
    <!-- container__register -->
    <div class="register__wrapper">
      <div class="register__title">회원가입</div>
      <p class="register__required-field"><span>* </span>필수입력사항</p>
      <form class="register__form">
        <!-- content__register-form -->
        <div class="register__item">
          <div class="register__label-wrapper">
            <label for="input1" class="register__label">아이디<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <input class="register__input" type="email" aria-errormessage="error-1" id="input1" placeholder="아이디를 입력해주세요" required />
          <span class="register__error-message" id="error-1" aria-live="polite">아이디는 이메일형식으로 입력해주세요</span>
          <button type="button" class="register__button">중복확인</button>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label for="input2" class="register__label">비밀번호<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <input class="register__input" type="password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{10,}" aria-errormessage="error-2" id="input2" placeholder="비밀번호를 입력해주세요" required />
          <span class="register__error-message" id="error-2" aria-live="polite">비밀번호는 특수문자, 영문 소문자, 숫자를 포함하여 10자리 이상 입력해주세요.</span>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label for="input2" class="register__label">비밀번호 확인<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <input class="register__input" type="password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{10,}" aria-errormessage="error-2" id="input2" placeholder="비밀번호를 한번 더 입력해주세요" required />
          <span class="register__error-message" id="error-2" aria-live="polite">비밀번호는 특수문자, 영문 소문자, 숫자를 포함하여 10자리 이상 입력해주세요.</span>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label for="input2" class="register__label">이름<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <input class="register__input" type="password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{10,}" aria-errormessage="error-2" id="input2" placeholder="이름을 입력해주세요" required />
          <span class="register__error-message" id="error-2" aria-live="polite">필수 입력사항입니다</span>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label for="input1" class="register__label">이메일<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <input class="register__input" type="email" aria-errormessage="error-1" id="input1" placeholder="예) bluemall@blue.com" required />
          <span class="register__error-message" id="error-1" aria-live="polite">올바르지 않은 이메일형식입니다</span>
          <button type="button" class="register__button">중복확인</button>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label for="input1" class="register__label">휴대폰<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <input class="register__input" type="tel" aria-errormessage="error-1" id="input1" placeholder="숫자만 입력해주세요" required />
          <span class="register__error-message" id="error-1" aria-live="polite">휴대폰번호는 숫자만 입력해주세요</span>
          <button type="button" class="register__button">인증번호 받기</button>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label class="register__label">주소<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <div class="register__address-wrapper">
            <button name="address" class="register__button register__button--address" type="button">주소검색</button>
            <p class="register__address-text">배송지에 따라 상품 정보가 달라질 수 있습니다.</p>
          </div>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label class="register__label">성별</label>
          </div>
          <div class="register__radio-wrapper" role="radiogroup">
            <div class="register__radio">
              <input class="register__radio-input" type="radio" name="gender" id="radio-1" />
              <label class="register__radio-label" for="radio-1">남자</label>
            </div>
            <div class="register__radio">
              <input class="register__radio-input" type="radio" name="gender" id="radio-2" />
              <label class="register__radio-label" for="radio-2">여자</label>
            </div>
            <div class="register__radio">
              <input class="register__radio-input" type="radio" name="gender" id="radio-3" checked />
              <label class="register__radio-label" for="radio-3">선택안함</label>
            </div>
          </div>
        </div>
        <div class="register__item">
          <div class="register__label-wrapper">
            <label for="birthDate" class="register__label">생년월일</label>
          </div>
          <input class="register__input" type="date" name="birthdate" id="birthDate" />
        </div>
        <div class="register__item register__item--terms">
          <div class="register__label-wrapper">
            <label class="register__label">이용약관동의<span class="register__label-required" aria-hidden="">*</span></label>
          </div>
          <div class="register__checkbox-wrapper">
            <div class="register__checkbox-allagree">
              <div class="register__checkbox-text">
                <input type="checkbox" name="terms" id="allAgreement" />
                <label for="allAgreement">전체 동의합니다.</label>
                <p>선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
              </div>
            </div>
            <div class="register__checkbox-agree">
              <div class="register__checkbox-text">
                <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement1" />
                <label for="Agreement1">이용약관 동의 (필수)</label>
              </div>
              <div class="register__checkbox-button">
                <a href="#">
                  약관보기
                  <img src="/src/assets/svg/Right.svg" alt="" />
                </a>
              </div>
            </div>
            <div class="register__checkbox-agree">
              <div class="register__checkbox-text">
                <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement2" />
                <label for="Agreement2">개인정보 수집 · 이용 동의 (필수)</label>
              </div>
              <div class="register__checkbox-button">
                <a href="#">
                  약관보기
                  <img src="/src/assets/svg/Right.svg" alt="" />
                </a>
              </div>
            </div>
            <div class="register__checkbox-agree">
              <div class="register__checkbox-text">
                <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement3" />
                <label for="Agreement3">무료배송, 할인쿠폰 등 혜택/정보 수신 동의 (선택)</label>
              </div>
              <div class="register__checkbox-button">
                <a href="#">
                  약관보기
                  <img src="/src/assets/svg/Right.svg" alt="" />
                </a>
              </div>
            </div>
            <div class="register__checkbox-agree">
              <div class="register__checkbox-text">
                <input class="consentcheckbox" type="checkbox" name="terms" id="Agreement4" />
                <label for="Agreement4">본인은 만 14세 이상입니다. (필수)</label>
              </div>
              <div class="register__checkbox-button">
                <a href="#">
                  약관보기
                  <img src="/src/assets/svg/Right.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <a href="#modal" class="register__join-button">가입하기</a>
      </form>
    </div>

    <!-- 전체 동의에 대한 스크립트 코드입니다 -->
    <script src="Register.js"></script>
  </body>
</html>
