.detail-product-desc {
  text-align: center;
  h3 {
    font-size: var(--font-size-XXXL);
  }
  .detail-product-desc__image {
    margin-block-end: var(--spacing-XL);
    img {
      width: 100%;
    }
  }
  .detail-product-desc__summary {
    margin-block-end: var(--spacing-XXL);
    h3 {
      padding-block-end: var(--spacing-S);
      span {
        display: block;
        font-size: var(--font-size-XL);
        margin-block-end: var(--spacing-XXS);
        font-weight: 500;
      }
    }
    p {
      border-block-start: 1px solid var(--gray-200);
      padding-block-start: var(--spacing-S);
      font-size: var(--font-size-S);
      line-height: 150%;
      font-weight: 300;
    }
  }
  .detail-product-desc__point {
    margin-block-end: var(--spacing-XXL);
    h3 {
      position: relative;
      margin-block-end: var(--spacing-S);
      z-index: 1;

      &::before {
        content: '';
        background: var(--gray-200);
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: -1;
      }
      &::after {
        content: '';
        background: var(--white);
        width: 35%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
    img {
      width: 100%;
    }
  }
  .detail-product-desc__specification {
    margin-block-end: var(--spacing-L);
    img {
      width: 100%;
    }
  }
  .detail-product-desc__why-karly {
    h4 {
      font-size: var(--font-size-XL);
      margin-block-end: var(--spacing-XL);
    }

    .detail-product-desc__why-karly-card-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: var(--spacing-M);
    }
    .detail-product-desc__why-karly-card {
      width: 33.33%;

      p:nth-child(1) {
        background: url(/src/assets/svg/why-karly01.svg) no-repeat top center;
        padding-block-start: var(--spacing-L);
        padding-block-end: var(--spacing-XXS);
        font-size: var(--font-size-M);
        color: var(--black);
        font-weight: 600;

        span {
          color: var(--primary);
        }
      }
      p:nth-child(2) {
        font-size: var(--font-size-S);
        line-height: 150%;
        font-weight: 300;
        color: var(--content);
      }
    }
  }
}

body {
  background: #f5f7fa;
}
h1 {
  margin-bottom: 40px;
  color: var(--black);
}
.component_wrap {
  color: var(--gray-400);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-S);

  border-radius: 16px;
  margin-block-end: var(--spacing-L);
  background: var(--white);
  h6 {
    justify-self: left;
    width: fit-content;
    flex-grow: 0;
    font-size: 16px;
    margin: 0 0 var(--spacing-S) 0;
    font-weight: 400;
    letter-spacing: 0.2px;
    background: var(--gray-100);
    border: 1px solid var(--gray-200);
    display: inline-block;
    padding: var(--spacing-XXS) var(--spacing-XS);
    border-radius: 8px;
  }
}
