footer {
  background: var(--gray-100);
  font-size: var(--font-size-XXS);
  position: relative;
  line-height: 150%;

  &::before {
    content: '';
    background: var(--gray-200);
    inline-size: 100%;
    block-size: 1px;
    position: absolute;
    top: 90px;
    left: 0;
  }

  .footer__container {
    /* max-inline-size: 1200px; */
    /* margin: 0 auto; */
    input,
    button,
    select {
      appearance: none;
      border: none;
      background: none;
      padding: 0;
    }
    a {
      color: currentColor;
      text-decoration: none;
    }
  }
  .footer__policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 90px;
    .footer__policy-link a {
      margin-inline-end: var(--spacing-S);

      &:first-child {
        font-weight: 600;
      }
    }
  }
  .footer__info {
    display: flex;
    justify-content: space-between;

    padding-block: var(--spacing-M);

    dl {
      padding-inline: var(--spacing-S);
      flex: 1 0;
      display: flex;
      flex-flow: column nowrap;
      gap: 24px;
      border-right: 1px solid var(--gray-200);

      &.footer__info-shopping {
        gap: 0;

        & dt {
          margin-block-end: 24px;
        }
      }

      &:first-child {
        padding-inline-start: 0;
        flex: 0 0 352px;
      }
      &:last-child {
        border: none;
      }
      dt {
        color: var(--black);
        font-weight: 600;
      }
      dd {
        color: var(--gray-400);
        a.tel {
          font-size: var(--font-size-XL);
          position: relative;
          padding-left: calc(29px + 9px);
          color: var(--black);
          font-weight: 500;

          &::before {
            content: '';
            inline-size: 29px;
            aspect-ratio: 1/1;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0%, -50%);
            background: url(/src/assets/svg/phone.svg) no-repeat;
          }
        }
      }
    }
  }
  .footer__compony {
    border-top: 1px solid var(--gray-200);
    color: var(--gray-400);
    font-weight: 400;
    block-size: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
select#bank {
  border: 1px solid var(--gray-200);
  color: var(--gray-400);
  font-weight: 300;
  font-size: var(--font-size-XS);
  line-height: 24px;
  padding: 0 var(--spacing-XS) 0 var(--spacing-XXXS);
  background: url(/src/assets/svg/Down.svg) no-repeat right center;
}

body {
  background: #f5f7fa;
}
h1 {
  margin-bottom: 40px;
  color: var(--black);
}
.component_wrap {
  color: var(--gray-400);
  width: 100%;
  display: block;
  padding: var(--spacing-S);

  border-radius: 16px;
  margin-block-end: var(--spacing-L);
  background: var(--white);

  input,
  button,
  select {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    display: block;
  }

  h6 {
    font-size: 16px;
    margin: 0 0 var(--spacing-S) 0;
    font-weight: 400;
    letter-spacing: 0.2px;
    background: var(--gray-100);
    border: 1px solid var(--gray-200);
    display: inline-block;
    padding: var(--spacing-XXS) var(--spacing-XS);
    border-radius: 8px;
  }
}
