<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product list</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/Product-list/list-container.css" />
    <script src="/src/components/Product-list/list-container.js"></script>
  </head>
  <body>
    <h1>list container</h1>
    <hr />
    <!-- 상단바 컴포넌트 -->
    <ul class="list-container__nav">
      <li><button class="list-container__nav-btn">추천순</button></li>
      <li><button class="list-container__nav-btn">신상품순</button></li>
      <li><button class="list-container__nav-btn">판매량순</button></li>
      <li><button class="list-container__nav-btn">혜택순</button></li>
      <li><button class="list-container__nav-btn">낮은 가격순</button></li>
      <li><button class="list-container__nav-btn">높은 가격순</button></li>
    </ul>
  </body>
</html>
